.gameCard {
  padding: 10px;
  background-color: white;
  border-radius: 6px;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h3 {
    text-align: start;
  }
}

.descriptionContainer {
  width: 100%;
}

.description {
  margin: 0;
  text-align: start;
}

.tagList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.tag {
  color: white;
  background-color: black;
  border-radius: 15px;
  display: inline;
  padding: 5px 10px;
}
